.projects {
  min-height: 100vh;
  padding: 2em;
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2em;
  justify-content: center;
}

@media (min-width: 45rem) {
  .projects__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.projects__header {
  text-align: center;
}
