.toggleswitch {
  width: 3em;
  padding: 0.2em;
  border-radius: 2em;
  cursor: pointer;
  background-color: var(--colour-secondary);
  transition: all 0.3s ease-in-out;
  position: fixed;
  right: 1em;
  bottom: 1em;
  z-index: 1000;
}

.toggleswitch__icon {
  width: 1em;
  position: absolute;
}

.toggleswitch__icon--dark {
  transform: translateX(150%);
}

.toggleswitch__knob {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: var(--colour-primary);
  transition: all 0.3s ease-in-out;
}

.toggleswitch__knob--light {
  margin-left: 100%;
  transform: translateX(-100%);
}
