.contact {
  padding: 2em;
  text-align: center;
  background-color: var(--colour-tertiary);
}

.contact__header {
  margin-bottom: 1em;
}

.contact__image {
  width: 50vw;
  margin-bottom: 1em;
}

.contact__image:hover {
  transform: translateY(2px);
  transition: transform 300ms ease-in-out;
}

@media (min-width: 45rem) {
  .contact__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .contact__image {
    width: 30vw;
    margin: 0;
  }

  .contact__form {
    width: 30vw;
  }
}
