.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  padding: 0 2em;
  min-height: 100vh;
}

.hero__image {
  grid-row: 2 /3;
  width: 100%;
  animation: load-in-left 500ms ease-in-out;
}

.hero__container {
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero__image:hover {
  transform: translateY(2px);
  transition: transform 300ms ease-in-out;
}

.hero__heading {
  animation: load-in-right 500ms ease-in-out;
}

.hero__subheading {
  animation: load-in-left 500ms ease-in-out;
}

.hero__heading--alt,
.hero__subheading--alt {
  color: var(--colour-secondary);
  transition: color 0.3s ease-in-out;
}

.hero__button {
  animation: load-in-right 500ms ease-in-out;
}

.hero__buttons,
.hero__icons {
  margin-top: 1em;
}

.hero__icons {
  animation: load-in-left 500ms ease-in-out;
}

.hero__icon--dark {
  filter: invert(99%) sepia(56%) saturate(2%) hue-rotate(185deg)
    brightness(105%) contrast(101%);
}
.hero__icon--dark:hover {
  filter: invert(64%) sepia(41%) saturate(2418%) hue-rotate(327deg)
    brightness(103%) contrast(87%);
}

.hero__icon--light {
  filter: invert(0%) sepia(94%) saturate(23%) hue-rotate(345deg) brightness(99%)
    contrast(105%);
}
.hero__icon--light:hover {
  filter: invert(51%) sepia(46%) saturate(805%) hue-rotate(296deg)
    brightness(87%) contrast(83%);
}

.hero__icon--github,
.hero__icon--linkedin {
  width: 1em;
  margin: 0 0.5em;
}

@media (min-width: 48rem) {
  .hero__image {
    width: 40vw;
  }
}

@media (min-width: 64rem) {
  .hero {
    flex-direction: row-reverse;
  }
  .hero__image {
    padding: 2em;
    margin: 0;
    width: 50vw;
  }
  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .hero__buttons {
    display: flex;
    gap: 1em;
  }
}
