.App {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: var(--colour-font);
  background-color: var(--colour-primary);
  transition: all 0.3s ease-in-out;
}

p {
  font-family: "Montserrat", sans-serif;
}

@keyframes load-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes load-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(8%);
  }
  65% {
    transform: translateY(-4%);
  }
  80% {
    transform: translateY(4%);
  }
  95% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}
