:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

[data-theme="dark"] {
  --colour-primary: #264653;
  --colour-secondary: #e9897e;
  --colour-tertiary: #00f5d4;
  --colour-error: #ff4500;
  --colour-font: #fff;
}

[data-theme="light"] {
  --colour-primary: #9bb7d4;
  --colour-secondary: #0072b5;
  --colour-tertiary: #d62828;
  --colour-error: #ff4500;
  --colour-font: #000;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
